/* colores */
/*3*/
/* Extends */
.main-Breadcrum .Breadcrumb .links-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-items: center;
  margin: 0; }

/* Extends */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

.main-Breadcrum {
  max-width: 1280px; }
  .main-Breadcrum .Breadcrumb {
    margin: 16px 0; }
    .main-Breadcrum .Breadcrumb .links-section .Index-link {
      font-weight: bolder; }
    .main-Breadcrum .Breadcrumb .links-section p {
      color: #f36a3e; }

.main-about {
  max-width: 1280px; }
  .main-about .body-main {
    height: 500px;
    padding-top: 30px; }
    .main-about .body-main .p-inicial {
      padding-top: 16px; }
    .main-about .body-main .body-img {
      width: 500px; }
  .main-about h1 {
    margin-top: 50px;
    font-weight: bolder;
    color: #f36a3e;
    margin-bottom: 50px; }

.align-items-center .cuerpo-texto.center {
  display: flex;
  justify-content: center; }

.body-text {
  font-size: 24px;
  font-weight: lighter; }

.marco-body {
  padding: 10px;
  margin-bottom: 50px;
  box-sizing: border-box;
  box-shadow: 5px 10px 12px -1px #35293A;
  color: #f36a3e; }

@media only screen and (max-width: 576px) {
  .body-img {
    visibility: hidden;
    position: absolute; }
  .body-text {
    font-size: 24px;
    font-weight: normal;
    color: #f36a3e;
    text-align: center; }
  .marco-body {
    margin-bottom: 20px;
    background-color: #040400; } }

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

.main-Breadcrum {
  max-width: 1280px; }
  .main-Breadcrum .Breadcrumb {
    margin: 16px 0; }
    .main-Breadcrum .Breadcrumb .links-section .Index-link {
      font-weight: bolder; }
    .main-Breadcrum .Breadcrumb .links-section p {
      color: #f36a3e; }

.main-about {
  max-width: 1280px; }
  .main-about .body-main {
    height: 500px;
    padding-top: 30px; }
    .main-about .body-main .p-inicial {
      padding-top: 16px; }
    .main-about .body-main .body-img {
      width: 500px; }
  .main-about h1 {
    margin-top: 50px;
    font-weight: bolder;
    color: #f36a3e;
    margin-bottom: 50px; }

.align-items-center .cuerpo-texto.center {
  display: flex;
  justify-content: center; }

.body-text {
  font-size: 24px;
  font-weight: lighter; }

.marco-body {
  padding: 10px;
  margin-bottom: 50px;
  box-sizing: border-box;
  box-shadow: 5px 10px 12px -1px #35293A;
  color: #f36a3e; }

@media only screen and (max-width: 576px) {
  .body-img {
    visibility: hidden;
    position: absolute; }
  .body-text {
    font-size: 24px;
    font-weight: normal;
    color: #f36a3e;
    text-align: center; }
  .marco-body {
    margin-bottom: 20px;
    background-color: #040400; } }

.rating .tick {
  font-size: 0.9rem; }

.rating .fas.fa-star {
  color: #ffbb00;
  padding: 0px 3px; }

.body-products {
  max-width: 1140px;
  margin-top: 30px;
  font-size: 12px; }

.main-Breadcrum {
  max-width: 1140px;
  padding-left: 0; }

/***filter*/
.box {
  text-align: start;
  margin-bottom: 30px; }

.filter-list {
  list-style: none;
  padding-left: 0; }

.filter-list > li {
  margin-bottom: 8px; }

.price-range {
  display: flex;
  align-items: center; }

.price-range span {
  margin: 0 10px; }

.price-range input {
  width: 30%;
  outline: none;
  padding: 2px; }

.filter-header {
  font-weight: bolder;
  display: block;
  margin-bottom: 16px; }

.form-check-input:checked {
  background-color: #000;
  border-color: #f36a3e; }

.box input {
  margin-right: 25px; }

.row-product {
  margin-bottom: 30px; }

.product-box {
  max-width: 100%;
  margin: 0; }

.card-product {
  margin-bottom: 3%; }

.page-link, .next, .disabled {
  color: #040400;
  font-weight: bolder;
  border-color: #f36a3e; }

@media only screen and (max-width: 576px) {
  .filters {
    visibility: hidden;
    position: absolute; }
  .card-product {
    display: flex;
    justify-content: center; }
  .slide-img {
    height: auto; }
  .p7 {
    visibility: hidden;
    position: absolute; } }

body {
  position: relative;
  padding-bottom: 250px;
  min-height: 100vh; }

.navbar {
  z-index: 600;
  background-color: #ffff; }
  .navbar .nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    width: 100%;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%; }
    .navbar .nav .navlogo {
      max-height: 30px;
      max-width: 100%;
      float: left;
      margin-left: 24px; }
    @media only screen and (min-width: 576px) {
      .navbar .nav .navlogo {
        max-height: 50px;
        margin-bottom: 10px; }
      .navbar .nav .nav {
        flex-direction: row; } }
    .navbar .nav .search {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: right; }
      .navbar .nav .search .search-box {
        width: 50px;
        height: 40px;
        padding: 10px;
        border-radius: 1px;
        border: 1px solid #c1c1c1;
        background: none;
        color: #a9a9a9;
        text-transform: capitalize;
        outline: none;
        visibility: hidden; }
      @media only screen and (min-width: 576px) {
        .navbar .nav .search .search {
          width: 500px; }
        .navbar .nav .search .search-box {
          visibility: visible;
          width: 500px; }
        .navbar .nav .search .search-btn {
          margin-right: 100px; } }

.search-btn {
  position: absolute;
  margin-right: 80px;
  border: none;
  background: none;
  font-size: 24px;
  color: #f36a3e;
  line-height: inherit;
  text-shadow: 0;
  padding: 0; }

input::placeholder {
  margin-right: 10px;
  color: #575757;
  font-size: 14px; }

.img-nav {
  width: 24px;
  height: 24px; }

nav a {
  margin-left: 20px; }

.section {
  background-color: #040400;
  width: 100%; }

.sections {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 10vw;
  list-style: none; }

.link {
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #f36a3e;
  text-transform: capitalize; }

.link:hover {
  color: #efefef; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #000;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  border-radius: 1px; }

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  color: #efefef;
  font-weight: bolder; }

/*----NAVBAR---*/
.navbar.navbar-expand-lg {
  width: 100%;
  justify-content: center;
  background-color: #040400; }

.collapse {
  justify-content: center; }

.navbar.navbar-expand-lg button {
  color: #040400;
  box-shadow: none;
  background-color: transparent; }

.navbar-toggler {
  position: absolute;
  top: -40px;
  left: 0px;
  font-size: 30px; }

.collapse.navbar-collapse a {
  text-decoration: none;
  color: #f36a3e;
  margin: 5px 20px;
  padding: 0 10px; }

.collapse.navbar-collapse a:focus {
  color: #efefef;
  font-weight: bolder; }

.nav-link {
  color: #f36a3e;
  transition: none;
  padding: 0 10px;
  margin: 5px 20px; }

/*----NAVBAR---*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px; }
  footer .content-footer {
    background-color: #040400;
    padding: 20px 10px; }
    footer .content-footer-footer h5 {
      color: #efefef; }
  footer .copyright {
    background-color: #222222;
    height: 20%;
    text-align: center;
    color: #f36a3e; }
    footer .copyright h6 {
      text-align: center;
      margin-bottom: 0; }
    footer .copyright .mark-footer {
      font-weight: bolder; }

.content-footer figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 90px; }

.content-footer figure img {
  width: 250px; }

.nav-footer {
  color: #efefef;
  text-align: start; }

.nav-footer ul {
  list-style: none;
  text-decoration: none;
  color: #efefef; }

.nav-footer a {
  text-decoration: none;
  color: #f36a3e;
  font-size: 14px;
  margin-bottom: 300px; }

.nav-list {
  padding-left: 0; }

.contact-footer .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  font-size: 24PX;
  line-height: 45px;
  color: #f36a3e;
  margin-right: 0;
  background-color: transparent;
  text-align: left;
  transition: all 300ms ease; }

.nav-footer .nav-list a:hover {
  color: aqua; }

.contact-footer .red-social a:hover {
  color: aqua; }

@media only screen and (max-width: 576px) {
  .content-footer figure {
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 20px; }
  .nav-footer {
    text-align: center; }
  .contact-footer {
    text-align: center; }
  .img-newsletter {
    visibility: hidden; }
  .newsletter {
    margin-top: 40px;
    margin-bottom: 30px; }
  .main-categories-grid {
    margin-top: 30px; } }

@media only screen and (min-width: 1900x) {
  .content-footer figure {
    padding-left: 360px; } }

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }

.whatsapp-icon {
  margin-top: 13px; }

.body-noveds {
  max-width: 1140px;
  margin-top: 30px; }

.giffinal {
  display: flex;
  justify-content: center;
  margin-top: 100px; }

.giffinal img {
  max-width: 500px;
  height: auto;
  border-radius: 5px; }
