*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
text-decoration: none;
color: #040400;
}

.navbar{
   
   z-index: 600;
   background-color: #ffff;
        
}

.nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    width: 100%;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;
}

.navlogo{
    max-height: 30px;
    max-width: 100%;
    float: left;
    margin-left: 24px;
}


.search{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: right;
}

.search-box{
    width: 50px;
    height: 40px;
    padding : 10px;
    border-radius: 1px;
    border: 1px solid #c1c1c1;
    background: none;
    color: #a9a9a9;
    text-transform: capitalize;
    outline: none;
    visibility: hidden;    
}

.search-btn{
    position: absolute;
    margin-right: 80px;
    border: none;
    background: none;
    font-size: 24px;
    color: #f36a3e;
    line-height: inherit;
    text-shadow: 0;
    padding: 0;        
}

input::placeholder{
    margin-right: 10px;
    color: #575757;
    font-size: 14px;
}

.img-nav{
    width: 24px;
    height: 24px;
}

nav a{
    margin-left: 20px;
}

/*----SEARCH BAR----*/
@media only screen and (min-width: 576px) {
    .navlogo{
        max-height: 50px;
        margin-bottom: 10px;
        
    }
    nav{
        flex-direction: row;
    }

    .search{
        width: 500px;
    }
    .search-box{
        visibility: visible;
        width: 500px;
    }
    .search-btn{
        margin-right: 100px;
    }

        
}
/*----SEARCH BAR----*/


.section{
    background-color: #040400;
    width: 100%;
}

.sections{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 10vw;
    list-style: none;
}

.link{
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #f36a3e;
    text-transform: capitalize;
}

.link:hover{
    color: #efefef;
}

/*----NAVBAR---*/
.navbar.navbar-expand-lg{
    width: 100%;
    justify-content: center;
    background-color: #040400;
}

.collapse {
    justify-content: center;
    
}

.navbar.navbar-expand-lg button{
    color: #040400;
    box-shadow: none;
    background-color: transparent;
}
.navbar-toggler{
    position: absolute;
    top: -40px;
    left: 0px;
    font-size: 30px;
}

.collapse.navbar-collapse a{
    text-decoration: none;
    color: #f36a3e;
    margin: 5px 20px;
    padding: 0 10px;
}
.collapse.navbar-collapse a:focus{
    color: #efefef;
    font-weight: bolder;
}

.nav-link{
    color: #f36a3e  ;
    transition: none;
    padding: 0 10px;
    margin: 5px 20px;
}


/*----NAVBAR---*/

.contenedorImgen{
    margin-top: 10px;
    width: 100%;
}

.main-categories-grid{
    margin-top: 100px;
    max-width: 1140px;
}


.main-categories-grid img:hover{
    filter: grayscale(100%);
    z-index: 5 ;
}

.main-categories-grid img{
    width: 564px;  
    height: auto; 
}


.title-section{
    padding-bottom: 5px;
    margin-top: 12px;
    font-size: 16px;
    color: #777;
    font-weight: 700;
    text-transform: uppercase;
}

.title-section p{
    font-size: 1em;
    color: #f36a3e;
    margin-top: 8px;
    letter-spacing: 0.2px;
    font-weight: 500;
}

#galeria{
    margin-top: 25px;
}

.product-container{
   max-width: 100%;
   height: 460px;
   margin-top: 18px;
   box-sizing: border-box;
   justify-content: space-between;
   margin-left: 0;
   margin-right: 0;
        
}

.box-product{
	width: 300px;
    height: auto;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow:auto;
	margin: 30px;
    background-color: #040800;
}
.slide-img{
	height: 100%;
	position:relative;
    
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}
.detail-box{
	width: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
    margin-top: 10px;
	box-sizing: border-box;
	color: #f36a3e;
}
.type{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.type a{
	color:#222222;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}

.box-product p{
    font-size: 24px;
    font-weight: bolder;
}

.type span{
	color:#efefef;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.price{
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: poppins;
	letter-spacing: 0.5px;
}
.overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-btn{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#ff0000;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 2px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
	color:#FFFFFF;
	background-color: #ff0000;
	transition: all ease 0.3s;
}
.overlay{
	visibility: hidden;
}
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}

.product-container .priv_arrow{
position: absolute;   
bottom: 50%;
left:2%;
color: #f36a3e;
width: 50px;
height: 50px;
text-align: center;
display: inline-block;
line-height: 50px;
font-size: 50px;
cursor: pointer;
z-index: 9999;
}

.slick-dots{
    visibility: hidden;
}

.product-container .next_arrow{
    position: absolute;   
    bottom: 50%;
    right:2%;
    color: #f36a3e;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    font-size: 50px;
    cursor: pointer;
    z-index: 9999;
}

.destacados{
 margin-bottom: 30px;
 margin-top: 30px;
 padding: 0;
}

.destacados h2{
    color: #f36a3e;
    font-weight: bolder;
    padding-bottom: 16px;
}

.back-img{
    position: absolute;
    height: 450px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(../Imagenes/portadacateg.jpg);
    opacity: 0.5;
}

@media only screen and (min-width: 1400px){
    
    .product-container .next_arrow{
        bottom: 40%;
        right:1%;
    }
    .product-container .priv_arrow{
        bottom: 40%;
        left:1%;
    }
    .back-img{
        height: 500px;
    }
    
}

.newsletter{
    background-color: #040400;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: auto;
    max-width: 1140px;
    height: 200px;
    color: #f36a3e;
}

.img-newsletter{
    background-image: url(../Imagenes/pain.gif);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container{
    display: flex;
    padding: 50px 50px 50px;
    flex-direction: column;
}

.form-input{
display: flex;
flex-direction: row;
width: 100%;
}

.container-label {
    flex-grow: 1;
    max-width: 100%;
    background-color: none;
    
}

.container-label ::placeholder{
    color: #777;
    
}

.container-label input{
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    padding: 10px;
    }

.container-btn input{
    height: 32px;
    border-radius: 0 0 1px 1px;
    background-color: transparent;
    color:#f36a3e;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #efefef;
}




footer{
    height: 200px;
    
    
}

.content-footer{
    
    background-color: #040400;
    padding: 20px 10px;
}

.content-footer h5{
    color: #efefef;
}

.copyright{
    background-color: #222222;
    height: 20%;
    text-align: center;
    color: #f36a3e;
    
}

.copyright h6{
text-align: center;
margin-bottom: 0;
}

.mark-footer{
    font-weight: bolder;
}


.content-footer figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
    padding-left: 90px;
}
.content-footer figure img{
    width: 250px;
}

.nav-footer{
    color: #efefef;
    text-align:start;

}
.nav-footer ul{
    list-style: none;
    text-decoration: none;
    color: #efefef;
}

.nav-footer a{
    text-decoration: none;
    color: #f36a3e;
    font-size: 14px;
    margin-bottom: 300px;
}

.nav-list{
    padding-left: 0;
}

.contact-footer .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    font-size: 24PX;
    line-height: 45px;
    color: #f36a3e;
    margin-right: 0;
    background-color: transparent;
    text-align: left;
    transition: all 300ms ease;
}

.nav-footer .nav-list  a:hover{
    color: aqua;
}

.contact-footer .red-social a:hover{
    color: aqua;
}

@media only screen and (max-width: 576px){
    .newsletter{
        margin-top: 40px;
        margin-bottom: 30px;              
    }
    .img-newsletter{
        visibility: hidden;
    }
    .content-footer figure{
        justify-content: center;
        padding-left: 0px;
        padding-bottom: 20px;
    }

    .nav-footer{
        text-align: center;
    }

    .contact-footer{
        text-align: center;
    }

    .main-categories-grid{
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1900px){
        .content-footer figure{
            padding-left: 360px;
            
        }
}