.navbar{
   
    z-index: 600;
    background-color: #ffff;
    .nav{
        position: sticky;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #efefef;
        width: 100%;
        align-items: center;
        margin-right: 2%;
        margin-left: 2%;

        .navlogo{
            max-height: 30px;
            max-width: 100%;
            float: left;
            margin-left: 24px;
        }
       
        @media only screen and (min-width: 576px) {
            .navlogo{
                max-height: 50px;
                margin-bottom: 10px;
                }
            .nav{
                    flex-direction: row;
             }
        }
        .search{
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: right;
            
            .search-box{
                width: 50px;
                height: 40px;
                padding : 10px;
                border-radius: 1px;
                border: 1px solid #c1c1c1;
                background: none;
                color: #a9a9a9;
                text-transform: capitalize;
                outline: none;
                visibility: hidden;                   
            }
            @media only screen and (min-width: 576px) {          
                .search{
                    width: 500px;
                }
                .search-box{
                    visibility: visible;
                    width: 500px;
                }
                .search-btn{
                    margin-right: 100px;
                }
            
                    
            }
        
        }
            
    }    

}
  
 
.search-btn{
     position: absolute;
     margin-right: 80px;
     border: none;
     background: none;
     font-size: 24px;
     color: #f36a3e;
     line-height: inherit;
     text-shadow: 0;
     padding: 0;        
 }
 
 input::placeholder{
     margin-right: 10px;
     color: #575757;
     font-size: 14px;
 }
 
 .img-nav{
     width: 24px;
     height: 24px;
 }
 
 nav a{
     margin-left: 20px;
 }
 
 
 
 
 .section{
     background-color: #040400;
     width: 100%;
 }
 
 .sections{
     width: 100%;
     display: flex;
     justify-content: center;
     padding: 10px 10vw;
     list-style: none;
 }
 
 .link{
     padding: 0 10px;
     margin: 0 5px;
     text-decoration: none;
     color: #f36a3e;
     text-transform: capitalize;
 }
 
 .link:hover{
     color: #efefef;
 }

.dropdown{
    position: relative;
    display: inline-block;
}


.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1 ;
    background-color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    border-radius: 1px;
    
      
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;
}

.dropdown:hover .dropbtn {
    color: #efefef;
    font-weight: nth($fontweight, 2 );
}

 
 /*----NAVBAR---*/
 .navbar.navbar-expand-lg{
     width: 100%;
     justify-content: center;
     background-color: #040400;
 }
 
 .collapse {
     justify-content: center;
     
 }
 
 .navbar.navbar-expand-lg button{
     color: #040400;
     box-shadow: none;
     background-color: transparent;
 }
 .navbar-toggler{
     position: absolute;
     top: -40px;
     left: 0px;
     font-size: 30px;
 }
 
 .collapse.navbar-collapse a{
     text-decoration: none;
     color: #f36a3e;
     margin: 5px 20px;
     padding: 0 10px;
 }
 .collapse.navbar-collapse a:focus{
     color: #efefef;
     font-weight: bolder;
 }
 
 .nav-link{
     color: #f36a3e  ;
     transition: none;
     padding: 0 10px;
     margin: 5px 20px;
 }
 
 
 /*----NAVBAR---*/