.body-noveds{
    max-width: 1140px;
    margin-top: 30px;
}

.giffinal{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.giffinal img{
   max-width: 500px;
   height: auto;
   border-radius: 5px;
}