*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
   
}

.Breadcrumb{
    margin: 16px 16px;

    .links-section{
        @extend %Breadcrumb;
        .Index-link{
            font-weight: bolder;
        }
       p{color: map-get($colores , primario );}
    }

}

    
    
    


